root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_size = 4
charset = utf-8-bom
csharp_style_namespace_declarations = file_scoped:error
csharp_new_line_before_open_brace = all
dotnet_style_require_accessibility_modifiers = always:suggestion
dotnet_diagnostic.CS8618.severity = error
dotnet_diagnostic.CS8625.severity = error

[*.{json,yml,yaml}]
indent_size = 2

[*.{ts,tsx,js,jsx,css}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
